.container {
  margin: 20px auto;
  height: 900px;
  width: 900px;
  border-width:5px;
  border-style:groove;
  border-color:#0772B5;
  background-color:#F0F9FF;
}

.chart div{
  background-color: steelblue;
  border: 1px solid white;
  height: 1.5em;
}

#header{
  margin: 0 6em;
}

#loading{
  width: 150px;
  display: block;
  margin: 10em auto;
}

#loading {
  display: none;
}

#svg{
  width: 700px;
  display: block;
  margin: 0 auto;
}