
<select class="chzn-select" multiple data-placeholder="Choose a Distillery">
  <option value=""></option>
  <% @distilleries.each do |distillery| %>
      <option value="<%= distillery.name %>"><%= distillery.name %></option>
  <% end %>
</select>

