<div class="container">
  <div id="header">
    <h2>Choose a distillery to view a map of its flavor profile.</h2>
  </div>
  <div id="distillery_form">
    <form>
      <div id="choose_distillery">
        <%= erb :distillery_list %>
      </div>
      <input type="submit" value="Go">
    </form>
  </div>
  <div id="loading">
    <img src="images/ajax-loader.gif">
  </div>
  <div class="chart">
  </div>
<svg id="svg">
  </svg>
</div>