<div class="container">
  <div class="row">
    <h1>Whiskey Stats</h1>
  </div> <!--end row -->
  <div class="row" id="first-row">
    <div class="col-md-2">
      <%= erb :distillery_list %>
    </div><!--end col -->
    <div class="col-md-2">
      <button type="button" class="btn btn-info" id="go">Go!</button>
    </div><!--end col -->
  </div><!--end row -->
  <div class="row">
    <div class="col-md-4" id="search-results">
    </div>
    <div class="col-md-4">
      <div id="loading">
        <img src="images/ajax-loader.gif">
      </div>
      <svg id="svg">
      </svg>
    </div>
  </div>
</div>