<!DOCTYPE <html>
<head>
  <title>Uisce Stats</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/chosen.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">

  <script src="/js/jquery-1.11.0.min.js"></script>
  <script src="/js/d3.v3.min.js" charset="utf-8"></script>
  <script src="/js/radar-chart.js"></script>
  <script src="/js/chosen.jquery.min.js"></script>
  <script src="/js/chosen.proto.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>