<!DOCTYPE <html>
<head>
  <title>Uisce Stats</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="/js/radar-chart.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>